<h1>Sessions</h1>

<% if @route == 'member' %>

  <p><%= @member.name %> is booked in for:</p>

  <table>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Time</th>
      <th>Duration (mins)</th>
      <th>Max capacity</th>
      <th>Min capacity</th>
      <th>Type</th>
      <th>Intensity</th>
    </tr>
    <% for session in @sessions %>
    <tr>
      <td><%= session.title %></td>
      <td><%= session.session_date %></td>
      <td><%= session.session_time %></td>
      <td><%= session.duration_mins %></td>
      <td><%= session.max_capacity %></td>
      <td><%= session.min_capacity %></td>
      <td><%= session.type %></td>
      <td><%= session.intensity_level %></td>
    </tr>
    <% end %>
  </table>

<% else %>

  <div class="all_sessions">
    <% @sessions.each do |session| %>
      <div class="session">
        <p class='session_date'><%= session.session_date %></p>
        <p class='session_title'><%= session.title %></p>
        <h2 class='session_spaces'><%= session.max_capacity - session.bookings.count %> spaces</h2>
        <form class='sesh_form' action="/sessions/<%= session.id %>" method="get">
          <input class='sesh_view' type="submit" value="View">
        </form>
        </p>
      </div>
    <% end %>
  </div>

  <form action="/sessions/new" method="get">
    <input class='member_btns' type="submit" value="Create new session">
  </form>

<% end %>
