<h2><%= @session.title %> (session)</h2>

<table>
  <tr>
    <td>Title:</td>
    <td><%= @session.title %></td>
  </tr>
  <tr>
    <td>Date:</td>
    <td><%= @session.session_date %></td>
  </tr>
  <tr>
    <td>Time:</td>
    <td><%= @session.session_time %></td>
  </tr>
  <tr>
    <td>Duration (mins):</td>
    <td><%= @session.duration_mins %></td>
  </tr>
  <tr>
    <td>Max capacity:</td>
    <td><%= @session.max_capacity %></td>
  </tr>
  <tr>
    <td>Min capacity:</td>
    <td><%= @session.min_capacity %></td>
  </tr>
  <tr>
    <td>Type:</td>
    <td><%= @session.type %></td>
  </tr>
  <tr>
    <td>Intensity level:</td>
    <td><%= @session.intensity_level %></td>
  </tr>
</table>

<form action="/sessions/<%= @session.id %>/delete" method="POST"><input type="submit" value="Delete"></form>

<form action="/sessions/<%= @session.id %>/edit" method="get"><input type="submit" value="Edit"></form>

<form action="/sessions/<%= @session.id %>/members" method="get"><input type="submit" value="Members"></form>
